input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #000853;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.visible {
    animation: fadeIn 0.5s ease-in-out;
    opacity: 1;
}

.invisible {
    animation: fadeOut 0.5s ease-in-out;
    opacity: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;